@import './theme';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $gray-900;
}

.app {
    max-width: 90rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 25.6rem 1fr;
    gap: 2rem;
    align-items: flex-start;
}

form {
    margin-top: 2rem;

    button[type='submit'] {
        background-color: $green-500;
        color: $white;
        border: none;
        border-radius: 0.8rem;
        padding: 1rem;
        width: 10rem;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: $green-300;
        }
    }
}
